@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
/* CSS for followers list */
.followers-list {
  display: flex;
  flex-direction: column;
  border: 2px solid #7289da;
  max-height: 200px;
  overflow-y: auto; 
}

/* Styling for each follower item */
.follower-item {
  display: flex;
  align-items: center;
  padding: 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  background-color: #424549;
  border-bottom: 1px solid #7289da; 
}

.follower-item:hover {
  background-color: #7289da;
}

/* Flex container for profile image and full name */
.follower-info {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between image and name */
}

.icon-text {
  margin-left: auto;
}
/* Profile image styling */
.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Styling for the full name */
.name-text {
  font-size: 16px;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  color: white;
}

/* Styling for the icon (user or business) */
.follower-info svg {
  color: white;
}

/* Styling for the link to the profile */
.follower-link {
  text-decoration: none;
  color: inherit;
}

/* Error message styling */
.noFollowers {
  color: #7289da;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
