
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50,200..900&family=Playwrite+HU:wght@100..400&family=Rubik+Mono+One&display=swap");
/*Hex	RGB
Milky dark blue #7289da	(114,137,218)
Lightest Dark - #424549	(66,69,73)
Light Dark   -  #36393e	(54,57,62)
Dark black   -  #282b30	(40,43,48)
Darkest black - #1e2124	(30,33,36)*/

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}


.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #333;
}

.comments-list {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.comment {
  background-color: #f0f00f;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}


textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
  text-decoration: none;
}


a:link {
  text-decoration: none;
}

.post {
  border-radius: 10px;
  background-color: #282b30;
  padding: 0px 10px;
  border: 2px solid #b6c4f4;
  margin-bottom: 20px;
  margin-top: 20px;
  font-family: "Inconsolata", monospace;
}
.post p:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgb(110, 110, 110);
}
.post-header h4 {
  color: white;
  border: 2px solid #7289da;
  padding: 10px;
  background-color: #424549;
  font-size: 16px;
  border-radius: 20px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}
.post-header h4:hover {
  background-color: #7289da;
  color: white;
  scale: 1.02;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    scale 0.3s ease-in-out;
}

.post p {
  color: White;
  font-size: 14px;
  font-family: "Inconsolata", monospace;
  border-bottom: #7289da 1px solid;
  padding: 10px;
  font-weight: bold;
  background-color: #424549;
  text-align: left; 
  direction: ltr;
  margin-bottom: -5px;
  padding-bottom: 20px;
}

.post-actions {
  display: flex;
  font-style: normal;
}

.post-actions .like-button {
  margin-top: 5px;
  background-color: #7289da;
  border-radius: 0px;
  width: 27.5%;
  margin-left: 35%;
  color: black;
  padding: 10px 20px;
  border: none;
  font-family: "Inconsolata", monospace;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  border : 1px solid #7289da;
  border-radius: 10px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.post-actions .like-button:hover {
  background-color: #424549;
  color: #f76a6a;
  border-radius: 15px;
  transition: border-radius 0.3s ease-in-out;
}

.post-actions .toolie {
  border-radius: 0px;
  border: 1px solid #15243b;
  font-family: "Inconsolata", monospace;
  text-align: center;
  width: 40%;
  font-style: normal;
  font-weight: bold;
  background-color: #7289da;
  color: black;
  padding: 10px 20px;
  border : 1px solid #7289da;
  margin-top: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.post-actions .toolie:hover {
  background-color: #424549;
  color: white;
  border-radius: 15px;
  transition: border-radius 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .post-actions .like-button {
    margin-left: 20%;
  }
}

@media (max-width: 1150px) {
  .comment-edit {
    display: none;
  }

  .post-actions .toolie {
    width: 25%;
  }

  .post-actions .like-button {
    width: 40%;
  }

  .like-edit {
    display: none;
  }
}
