/*Hex	RGB
Milky dark blue #7289da	(114,137,218)
Lightest Dark - #424549	(66,69,73)
Light Dark   -  #36393e	(54,57,62)
Dark black   -  #282b30	(40,43,48)
Darkest black - #1e2124	(30,33,36)*/
/* Post Feed Scrollable Container */
.post-feed-container {
  max-height: 640px;
  overflow-y: auto; 
  padding-top: 10px;
  scrollbar-width: thin;
  margin-right: -10px;
  scrollbar-color: transparent transparent;
}
.user-post-headings {
  color: white;
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: white 2px solid;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}
.post-feed-container::-webkit-scrollbar {
  width: 0px;
}

.post-feed-container::-webkit-scrollbar-thumb,
.post-feed-container::-webkit-scrollbar-track {
  background: transparent;
}

.post {
  background-color: #282b30;
  padding: 15px; 
  font-family: "Inconsolata", monospace;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post:hover {
  transform: scale(1);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-header img {
  margin-right: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.post .author {
  color: #15243b;
  font-weight: bold;
}

.post .content {
  margin-top: 5px;
  color: #333;
  font-size: 1.1em;
}

.post-actions-profile {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  margin-left: 80%;
}

.postSaveCancelbtn {
  display: flex;

  .savePostEdit {
    width: 25%;
    border-radius: 0px;
    margin-left: 50%;
    margin-right: 20px;
    background-color: rgba(185, 232, 228, 1);
    color: black;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
  }
  .cancelPostEdit {
    width: 25%;
    border-radius: 0px;
    background-color: rgb(236, 144, 144);
    color: black;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
  }

  .cancelPostEdit:hover {
    background-color: rgb(236, 78, 78);
    color: white;
  }

  .savePostEdit:hover {
    background-color: rgba(105, 167, 161, 1);
    color: white;
  }
}
.edit-button,
.delete-button {
  padding: 10px 10px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
  background-color: #7289da;
  color: white;
  border-radius: 0px;
  width: 100%;
}

.edit-button:hover {
  background-color: rgba(105, 167, 161, 1);
  color: white;
}

.delete-button:hover {
  background-color: rgb(236, 144, 144);
  color: white;
}
.textArea-editing {
  textarea {
    all: unset;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:-7.5px;
    border-radius: none;
    width: 100%;
    padding: 8px;
    background-color: #424549;
    justify-self: center;
    align-self: center;
    border-bottom: 2px solid #ccc;
    color: white;
    font-size: 16px;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
  }

  textarea:hover {
    background-color: #55585b;
  }
}

@media (max-width: 1000px) {
  .editing-btn {
    display: none;
  }
  .deleting-btn {
    display: none;
  }
  .savePostEdit {
    margin-left: 30%;
  }
  .post-actions-profile {
    margin-left: 30%;
  }
}
