@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
/*Hex	RGB
Milky dark blue #7289da	(114,137,218)
Lightest Dark - #424549	(66,69,73)
Light Dark   -  #36393e	(54,57,62)
Dark black   -  #282b30	(40,43,48)
Darkest black - #1e2124	(30,33,36)*/
.linkup-btn {
    width: 50%;
    margin-left: 25%;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
    font-size: 20px;
    border: white 2px solid;
    border-radius: 0px;
    border-radius: 20px;
    background-color: #1e2124;
    color: white;
    filter: drop-shadow(5px 5px #7289da)
            drop-shadow(-2.5px -2.5px white);
    transition: all 0.3s ease-in-out; 
    transform: scale(1); 
    cursor: pointer; 
    padding: 10px 0; 
    border: none; 
    outline: none; 
}

.linkup-btn:hover {
    transform: scale(1.05); 
    background-color: #7289da; 
    color: black;
    filter: drop-shadow(7px 7px white)
            drop-shadow(-3.5px -3.5px #1e2124); 
}