@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
/*Hex	RGB
Milky dark blue #7289da	(114,137,218)
Lightest Dark - #424549	(66,69,73)
Light Dark   -  #36393e	(54,57,62)
Dark black   -  #282b30	(40,43,48)
Darkest black - #1e2124	(30,33,36)*/

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #36393e; 
}

.home-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #36393e;
}

.main-content {
  margin-left: 260px;
  margin-right: 410px;
  justify-content: space-evenly;
  width: 100%;
}

.post-creation-header-second {
  display: flex;
  justify-content: start;
  align-items: center;
}

.post-creation-header-second h2 {
  margin-left: 15px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  font-size: 16px;
  background-color: #1e2124;
  color: white;
  border: black 1px solid;
  border-radius: 0px;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  
  filter: drop-shadow(5px 5px #b6c4f4)
    drop-shadow(-2.5px -2.5px #7289da);
}

.post-creation {
  width: 100%;
  position: sticky;
  box-shadow: 0px 10px 20px #7289da;
  border: 1px solid #b6c4f4;
  padding: 15px;
  box-sizing: border-box;
  --gradient-angle: 0deg;
  background: linear-gradient(
    var(--gradient-angle),
    #bfc9ee 0%,
    #7289da 5%,
    #282b30 10%,
    #282b30 90%,
    #7289da 95%,
    #bfc9ee 100%
  );
  animation: rotateGradient 35s linear infinite;
}

.textarea {
  width: 100%;
  height: 100px;
  border: 2px solid #ccc; 
  font-size: 16px;
  background-color: #36393e;
  color: white;
  resize: none;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box; 
}

.textarea:focus {
  background-color: #424549;
  border-radius: 0px;
  color: white;
  font-family: "Inconsolata", monospace;
  font: bold;
}

.post-button {
  background-color: transparent;
  border-radius: 0px;
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  width: 30%;
  font-style: oblique;
  margin-left: 70%;
  margin-bottom: -2.5px;
  align-content: center;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
  font-family: "Inconsolata", monospace;
  font-size: 18px;
  font-size: bold;
  align-self: flex-end;
  border: #7289da solid 3px;
}

.post-button:hover {
  background-color: #7289da;
  color: white;
  border: #b6c4f4 solid 3px;
}

@media (min-width: 1000px) and (max-width: 1400px) {
  .main-content {
    margin-right: 285px;
  }
}

@media (max-width: 1000px) {
  .main-content {
    margin-right: 90px;
    margin-left: 90px;
  }
}

@keyframes rotateGradient {
  to {
    --gradient-angle: 360deg;
  }
}
@property --gradient-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}