@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50,200..900&family=Playwrite+HU:wght@100..400&family=Rubik+Mono+One&display=swap");

/*Hex	RGB
Milky dark blue #7289da	(114,137,218)
Lightest Dark - #424549	(66,69,73)
Light Dark   -  #36393e	(54,57,62)
Dark black   -  #282b30	(40,43,48)
Darkest black - #1e2124	(30,33,36)*/
.register-container-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-color: #1e2124;
  color: white;
  padding: 20px;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}

.register-form-register {
  background-color: #36393e;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 450px;
  box-shadow: 0 10px 20px #7289da;
  margin-top: 20px;
  overflow-y: auto;
}

.register-header-register {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Playwrite HU", cursive;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-register {
  margin-bottom: -20px;
  margin-top: -150px;
  animation: fadeSlideIn 2s ease-in-out;
  width: 300px;
  height: auto;
}

.label-register {
  margin-bottom: 5px;
  font-size: 18px;
  display: block;
}

.input-register {
  padding: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 30px;
  border: 3px solid #7289da;
  border-radius: 5px;
  background-color: #4a4b4d;
  color: white;
  font-size: 14px;
  outline: none;
  margin-top: 5px;
  margin-bottom: 15px;
  font-style: italic;
  width: 100%;
  box-sizing: border-box;
}

.input-register:hover {
  color: white;
  background-color: #6e6f71;
  transition: all 0.4s ease-in-out;
}

.input-register:focus {
  background-color: #91a7f7;
}

.error-register {
  color: red;
  font-size: 14px;
  display: block;
  margin-top: -10px;
  margin-bottom: 10px;
}

.error-message-register {
  color: red;
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.submit-button-register {
  background-color: #1e2124;
  color: white;
  padding: 10px 20px;
  border: 3px solid white;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.4s ease-in-out;
  font-style: italic;
  margin-top: 15px;
}

.submit-button-register:hover {
  background-color: #7289da;
  color: white;
}

.login-redirect-register {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}

.login-link-register {
  color: #7289da;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
  transition: transform 0.3s ease, color 0.3s ease;
}

.login-link-register:hover {
  color: #ffc750;
}

.alrHaveAcc{
    color: white;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .register-form-register {
    padding: 15px;
    margin-top: 10px;
  }

  .logo-register {
    width: 200px;
    margin-top: -100px;
  }

  .register-header-register {
    font-size: 24px;
  }
}


.register-header-web-name {
  margin-top: -90px;
  font-size: 40px;
  font-family: "Playwrite HU", cursive;
}